@import "tailwindcss";

@theme {
    --color-zinc-950: #141417;
    --color-zinc-900: #202024;
    --color-zinc-800: #323238;
    --color-zinc-700: #4a4a52;
    --color-zinc-600: #60606b;
    --color-zinc-500: #858590;
    --color-zinc-400: #b5b5be;
    --color-zinc-300: #e4e4e7;
    --color-zinc-100: #ffffff;

    --color-orange-950: #431407;
    --color-orange-900: #7c2d12;
    --color-orange-600: #ea580c;
    --color-orange-500: #f97316;
    --color-orange-400: #fb923c;
    --color-orange-200: #fed7aa;

    --color-green-900: #14532d;
    --color-green-600: #16a34a;
    --color-green-500: #22c55e;

    --color-red-950: #450a0a;
    --color-red-900: #7f1d1d;
    --color-red-500: #ef4444;

    --color-blue-400: #60a5fa;
}

body {
    @apply bg-zinc-950 text-zinc-300;
}