@import "tailwindcss";

@theme {
    --color-zinc-950: #09090b;
    --color-zinc-900: #18181b;
    --color-zinc-800: #27272a;
    --color-zinc-700: #3f3f46;
    --color-zinc-600: #52525b;
    --color-zinc-500: #71717a;
    --color-zinc-400: #a1a1aa;
    --color-zinc-300: #d4d4d8;
    --color-zinc-100: #f4f4f5;

    --color-orange-950: #431407;
    --color-orange-900: #7c2d12;
    --color-orange-600: #ea580c;
    --color-orange-500: #f97316;
    --color-orange-400: #fb923c;
    --color-orange-200: #fed7aa;

    --color-green-900: #14532d;
    --color-green-600: #16a34a;
    --color-green-500: #22c55e;

    --color-red-950: #450a0a;
    --color-red-900: #7f1d1d;
    --color-red-500: #ef4444;

    --color-blue-400: #60a5fa;
}

body {
    @apply bg-zinc-950 text-zinc-300;
}